@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Configurações gerais */
body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', sans-serif;
  background-color: #336699;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

/* Configuração geral para botões */
button, .btn-nav, .btn-logout, .btn-chart {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout button {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #32b9cd;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}

.btn-pink {
  color: white;
  background-color: #e6005a;
}

.btn-white {
  color: #e6005a;
  background-color: white;
}

.btn-logout {
  background-color: #32b9cd;
  color: white;
  text-align: center;
  padding: 10px 15px;
}

/* Header e barra lateral */
.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #212124;
  border-right: 3px solid #32b9cd;
}

.header-left h1 {
  color: #32b9cd;
}

.header-left a {
  text-decoration: none;
  color: white;
}

/* Conteúdo principal */
.dash-right {
  width: 80%;
  margin-left: 20%;
  padding: 20px;
  background-color: #121212;
  color: #fff;
  overflow-y: auto;
}

.dash-right .avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.dash-right .avisos .container .div-form {
  width: 95%;
}

.dash-right .avisos .div-form input, 
.dash-right .avisos .div-form textarea {
  width: 95%;
  border-radius: 5px;
}

.dash-right .avisos .div-form textarea {
  border: 3px solid #e6005a;
  background-color: white;
}

.dash-right .avisos .div-form button {
  padding: 10px 15px;
  font-size: 18px;
  background-color: #e6005a;
  color: white;
}

/* Mural e publicações */
.publicacao {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-bottom: 3px solid #e6005a;
}

.publicacao>*:not(:last-child) {
  padding-bottom: 10px;
}

.div-results .feed-container {
  background-color: #000;
  border-radius: 5px;
  margin-bottom: 80px;
}

/* Elementos dos gráficos */
.graph {
  width: 70%;
  margin: auto;
  padding-top: 10px;
}

.tituloGraficos {
  color: #d8d8d8;
  display: flex;
  justify-content: center;
}

.chart-container {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #1e1e2f;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.chart-container h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #e0e0e0;
}

/* Alertas e regua de parâmetros */
.area-parametros-alerta {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 10px auto;
  background-color: #212124;
}

.area-parametros-alerta .titulo-legenda {
  color: white;
  font-weight: 600;
  margin: 10px 20px;
}

.parametros-alerta {
  display: flex;
  width: 100%;
}

.item-regua {
  width: 20%;
  text-align: center;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-regua p {
  margin: 0;
  font-weight: 500;
}

.item-regua p:nth-child(2) {
  font-weight: 800;
}

.perigo-frio { background-color: #5c6bc0; }
.perigo-quente { background-color: #ff7043; }
.alerta-frio { background-color: #42a5f5; }
.alerta-quente { background-color: #ffee58; }
.ideal { background-color: #9ccc65; }
