@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #336699;
  display: flex; /* tornando o body um container flexível*/
  flex-direction: column; /* colocando os elemnentos em uma coluna*/
  min-height: 100vh; /* Garantindo que o body ocupe toda a altura da viewport */
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-feed: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}





.container {
  display: flex;
  width: 80%;
  margin: auto;
  align-items:center;

  justify-content: space-between;
}

.header {
  height: var(--tamanho-header);
  border-bottom: 2px solid #ffffff;
  display: flex;
  justify-content: space-between;

}

.header .container {
  display: flex;
  justify-self: center;
  justify-content: space-between;
 
}

.header a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500px;

}

.agora {
  font-weight: 800;
}

.navbar {
  width: 80%;
  display: flex;
  font-weight: 700px;
  justify-content: space-between;
  gap: 120px;
  list-style: none;
  color: #ffffff;
}

.titulo {
  color: #ffffff;
  width: fit-content;
  font-weight: 800;
}

.header h1 {
  margin: 0;
}

/* BANNER */
.banner {
  position: relative;
  height: var(--tamanho-banner);
  color: white;
  overflow: hidden;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../assets/imgs/Leonardo_Phoenix_A_serene_and_inviting_scene_depicting_a_woman_2.jpg');
  background-size: cover;
  
  filter: blur(1px); 
  z-index: -1; 
}

.banner .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  
}

.banner .container p {
  width: 100%;
  height: 2%;
  margin: 0;
  padding: 0;
  font-size: 36px;
}

.banner .container span {
  font-weight: 800;
}


/* MISSÃO VISÃO VALORES */

.social {
  background-color: #ffffff;
  display: flex;
}

.social .container {
  justify-content: center;
}

.box img {
  width: 170px;

}

.social .container .boxes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 0;
}

.social p {
  text-align: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* FOOTER */

.footer {
  height: var(--tamanho-footer); /* vou usar a variável de tamanho sim!!! */
  color: #ffffff;
  border-top: solid;
  display: flex;
  justify-content: center; /* Centralize o conteúdo plis!! */
  align-items: center; /* Alinhe verticalmente a parada também!!! namoralzinhaaaa */
  font-size: 15px;
  width: 100%;
margin-top: auto; /* empurra o footer pro final empurraaaaaaaaaaaa */
}

.col-md-12 {
  display: flex;
  justify-content: flex-end;
  text-align: flex-end;

}

.footer .container {
  display: flex;
  gap: 70px;

}

.footer .container .version {
  font-size: 12px;

}

/* dashboard quiz personalidade */



/* LOGIN */

.login {
  height: var(--tamanho-login);
  background-image: url('../assets/imgs/youngmaturepsy.jpg');
  background-size: 100%;
  
}

.login .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 50%;
  background-color: #336699;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: rgb(255, 255, 255);
  flex-direction: column;
  height: fit-content;
  padding: 10px 0;
}

.card h2 {
  margin: 0;
  font-size: 30px;
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-between;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 500;
  height: 75%;
}

.formulario input {
  border: 2px solid #000000;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

div .cadastro{
  text-align: center;
}

.formulario select {
  border: 2px solid #000000;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.campo {
  display: flex;
  height: 60px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 5px 0;
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  background-color: #001affa4;
  width: 120px;
  height: 30px;
  align-self: center;
  margin-top: 20px;
}

.botao a {
  color: #ffffff;
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;

}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* FORMULARIO */

.alerta_erro {
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #ED145B 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro {
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #4c4c4c;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #ED145B;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* PEGA O SIMULADOR DO PAI!!!!!!!!!!!! */

.simulador .container {
  max-width: 800px;
  margin: 0 auto; /* AJUSTA O CONTAINER DO SIMULADOR PRO PAI VAIIIIIIIIIIIIIIIIII DEIXE ELE MAIS BAIXO DEIXEEEE */
  padding: 20px;
}


.simulador body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #292929; /* Cor de fundo para destaque */
  color: #333333; /* Cor padrão dos textos */
  text-align: center;
}

.simulador {
  color: rgb(0, 0, 0);
  background-image: url(../assets/imgs/pexels-eberhardgross-1287142.jpg);
 background-size: 100%;
 flex: 1; /* faça com que o simulador ocupe o espaço restante */
 display: flex; /* DEIXE O BICHO SOLTO DEIXEEEE */
 flex-direction: column;
 justify-content: center; /* DEXE AS PERGUNTA NO CENTRO DEXEEEEEE EXPANDE ESSE CÉU MARAVILHOSOOO*/
 align-items: center; /* DEXE AS PERGUNTA NO CENTRO DEXEEEEEE EXPANDE ESSE CÉU MARAVILHOSOOO*/
 min-height: 100vh;
}

.simulador .question {
  margin-bottom: 20px;
  text-align: left;
}

.simulador .question label {
  font-size: 18px;
  font-weight: bold;
  color: #282828; /* DEIXE AS AS PERGUNTAS DO QUIZ NA CORZINHA PRETA DEIXEEEEEEEEEEEEE */
}

.simulador .question input {
  margin: 5px;
}

.simulador .botao {
  background-color: #6a5acd;
  color: #ffffff;
  border: none;
  padding: 30;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.simulador .botao a {
  color: #ffffff;
  text-decoration: none;
}

.simulador .botao:hover {
  background-color: #483d8b;
}

.simulador canvas {
  max-width: 100%;
  height: auto;
}

.simulador #personalityChart {
  margin: 20px 0;
}


.simulador .container {
  flex-direction: column;

  height: var(--tamanho-simulador);
}



/* FEED */

.feed {
  color: white;
  flex-direction: column;
}

.feed .container {
  flex-direction: column;

  height: var(--tamanho-feed);
}


/* ALERTA */

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cover;
  animation-iteration-count: infinite;
}

@keyframes bell {
  0% {
    transform: rotate(25deg)
  }

  25% {
    transform: rotate(-25deg)
  }

  50% {
    transform: rotate(25deg)
  }

  75% {
    transform: rotate(-25deg)
  }

  100% {
    transform: rotate(25deg)
  }
}